/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.head-wrapper {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.eisenhower-matrix__img {
  width: 100%;
}

h3 {
  margin: 0;
}

.add-item__h,
.todo__h,
.completed__h3 {
  padding: 30px 0 10px;
  border-bottom: 2px solid #333;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.add-item__h {
  margin: 0 0 20px;
}

.eisenhower-matrix__more-inf {
  font-family: fantasy, cursive;
}

.head-wrapper
.more-inf {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .head-wrapper {
    text-align: center;
  }

}

.main-wrapper {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.add-item__task-row-wrapper {
  display: flex;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input {
  outline: none;
}

.add-button,
.edit-button,
.delete-button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  outline: none;
}

.add-button:hover,
.edit-button:hover {
  color: #3a3A3a;
}

/* Heading */
.todo,
.completed,
.add-item {
  color: #333;
  font-size: 15px;
  margin: 0;
}

.input-item-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  width: 226px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.input-item-text:focus {
  color: #333;
}

/* New Task */
.add-item {
  display: block;
  margin: 0 0 20px;
}

/* Task list */
.todo-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox {
  margin: 0 10px;
}

.todo-label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 69%;
}

.delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.delete-img:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed__tasks-label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */

.todo-item .input-item-text {
  display: none;
}

.edit-mode .input-item-text {
  display:inline-block;
  width:224px
}

.edit-mode .todo-label {
  display: none;
}
